<div class="container">
    <div class="navigation-container">
        <div class="navigation-section">
            <div class="navigation-item" (click)="scrollToHome()">
                <img src="../../assets/Images/icon-home.svg">
            </div>
            <div class="navigation-item active">
                <img src="../../assets/Images/icon-scatter-plot.svg">
            </div>
        </div>
    </div>
    <div class="visualization-container">
        <app-scatter-plot></app-scatter-plot>
    </div>
</div>