.container{
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navigation-container{
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.navigation-section{
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 5px;
}
.navigation-item img{
    width: 40px;
}