<div class="container">
    <div class="navigation-container">
        <div class="navigation-section">
            <div class="navigation-item" routerLink="/home">
                <img src="../../assets/Images/icon-home.svg">
            </div>
            <div class="navigation-item active" (click)="changeVisual()">
                <img src="../../assets/Images/icon-scatter-plot.svg">
            </div>
        </div>
    </div>
    <div class="visualization-container">
        <router-outlet class="visualization-wrapper"></router-outlet>
    </div>
</div>